<html>
<head>
	<title>HomeworkTasker</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/js/loginPost.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
	<h2>Welcome to Homework Tasker! Login!</h2>
	<h4>Don't have an Account? <a href='/register'>Register</a></h6>
	<span id="invalid">Invalid username or password. Please try again.</span>
	<form name='loginForm' id='loginForm'>
		{% csrf_token %}
		<div class="form-group">
			<span class="input-group">
				<span class='input-group-addon'>
					<span class='glyphicon glyphicon-user'></span>
				</span>
				<input class='form-control' id='usernameInput' placeholder="Username"/>
			</span>
		</div>
		<br />
		<div class='form-group'>
			<span class='input-group'>
				<span class='input-group-addon'>
					<span class='glyphicon glyphicon-asterisk'></span>
				</span>
				<input class='form-control' id='passwordInput' type="password" placeholder="Password"/>
					
			</span>
		</div>
		<br />
		<input id='rememberBox' type="checkbox" name="rememberBox">   Remember Me</input>	
		<br />
		
		<br />
		<button class='btn btn-primary text-center' type='submit'>Login</button>
	</form>
</body>
</html>